doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block content

  hr
  table(width='100%')
    td
      a(href = '/') Домой
    td.myright
      a(href = '/logoff') LogOff