extends layout
block content
    h1 Библиотека
     script(type="text/javascript").
        function wndBookAdd(){
        window.open("/bookAdd");
        }
    p
        input(type="button", onclick="wndBookAdd()", value="Добавить книгу")
    p
        b Поиск книги:
    form(method="get", action="/library")
        input#searchStr(type='text', name='str')
        input(type="submit")
    div
    mixin printData(data)
        - if(data) {
            table(width='100%', border="1'")
                for row in data
                    tr
                        td= row.author
                        td= row.bookname
                        td= row.year
                        td
                            a(href="#{row.link}") Download torrent
        - } else {
            p NOTHING
        - }
    +printData(data)
