extends layout

block content
    h1 Login
    form(method='post', action='/login')
      cpan Login:
      input(type= 'text' name='user')
      cpan Password:
      input(type='password' name='passwd')
      button(type='submit') OK

