body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myright {
  color: #ff1513;
  align-items: center;
  text-align: right;
}

.aaa {
  border-style: solid;
  border-color: aqua;
  border-width: 4px;
}